<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Map Server -->
    <arg name="map_file" default="$(find spherebot)/maps/world_gmap.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Visualization 
    <arg name="display_config" default="$(find spherebot)/config/localization.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg display_config)" />
    -->
    
    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <remap from="scan" to="hokuyo/laser_scan"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="spherebot_torso"/>
        <param name="global_frame_id" value="map"/>

        <!-- Overall filter parameters-->
        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="-2.0"/>
        <param name="initial_pose_a" value="0"/>
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="3000"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.3"/>

        <!-- Laser parameters -->
        <param name="laser_max_beams" value="100"/>
        <param name="laser_min_range" value="0.10"/>
        <param name="laser_max_range" value="20.0"/>
        <param name="laser_z_hit" value="0.75"/>
        <param name="laser_z_rand" value="0.1"/>

        <!-- Odometry parameters, using omni for Skid Steer -->
        <param name="odom_model_type" value="omni-corrected"/>
        <param name="odom_alpha1" value=".08"/>
        <param name="odom_alpha2" value=".07"/>
        <param name="odom_alpha3" value=".06"/>
        <param name="odom_alpha4" value=".05"/>
        <param name="odom_alpha5" value=".04"/>
    </node>

</launch>